.degrade{
	/* background-image: linear-gradient(45deg, rgb(127,79,190), rgb(79,42,165)); */
	background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F04%2F50%2F75%2Fbb6a62662a10dd1aac8f285b45fe471e.jpg&f=1&nofb=1&ipt=af2c5618504e87e17d389608f871bdb743c7514dd3372a717fb71ba5dbc53415&ipo=images");
	background-repeat: no-repeat;
	height:100vh;
		color: white;
	font-family:Comic Sans Ms;
	text-align:center;
}
.calculadora{
	position:absolute;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.403), rgba(255, 0, 0,0.403), rgba(0, 0, 255, 0.403));;
	top: 55%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:15px;
	padding:15px;
}
.botao{
	width: 50px;
	height: 50px;
	font-size: 25px;
	background-color:rgba(80, 79, 79, 0.654);
	border:none;
	color:white;
	margin:2px;
	border-radius: 30%;
}
.botao:hover{
	background-color:rgb(228, 18, 18);
	transform: scale(1.35);
}

#resultado{
	background-color:white;
	width:210px;
	height:30px;
	margin:5px;
	padding:5px;
	text-align:right;
	color:black;
	font-size:25px;
}

footer {
	background-color:rgba(10, 123, 72, 0.773);
	color: #ffffff;
    padding: 10px;
    text-align: center;
}

a:visited {
    color: rgb(232, 19, 19);
}

.outer-container {
    background: #105589; /*Cor de fundo*/
    padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: rgb(74, 206, 4);
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: rgb(255, 255, 255); /* Ou a cor desejada para o hover */
}